/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1em; }

.main {
  margin-top: 60px; }

.row {
  display: flex;
  flex-wrap: wrap; }

.thumbnail {
  border: none;
  margin: 0; }

nav {
  height: 60px;
  background-color: #88002D;
  color: white;
  width: 100%;
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between; }

nav .xs-visible {
  display: none; }

nav img {
  padding: 5px 20px; }

nav button {
  background: white;
  border-radius: 10px;
  color: #88002D;
  padding: 10px 25px;
  text-decoration: none;
  text-transform: uppercase;
  border-color: #885C7E;
  -moz-box-shadow: 8px 8px 12px #aaa;
  -webkit-box-shadow: 8px 8px 12px #aaa;
  box-shadow: 8px 8px 12px #555;
  margin: 10px 15px;
  box-shadow: none; }

nav button:hover, nav button:active {
  background: #3E0018;
  border-radius: 10px;
  color: white;
  padding: 10px 25px;
  text-decoration: none;
  text-transform: uppercase;
  border-color: #88002D;
  -moz-box-shadow: 8px 8px 12px #aaa;
  -webkit-box-shadow: 8px 8px 12px #aaa;
  box-shadow: 8px 8px 12px #555;
  box-shadow: none; }

@media all and (max-width: 480px) {
  nav > .md-visible {
    display: none; }
  nav > .xs-visible {
    display: block; } }

@media all and (max-width: 400px) {
  nav > img {
    width: 60%; } }

.modal .modal-dialog {
  margin-left: auto;
  margin-right: auto;
  color: #88002D; }

.modal .modal-dialog .modal-body input, .modal .modal-dialog .modal-body input:active {
  border-radius: 5px; }

.modal .modal-dialog .modal-body input:focus, .modal .modal-dialog .modal-body input:active {
  border-color: #88002D; }

.modal .modal-dialog .modal-body .submit {
  background: #88002D;
  border-radius: 5px;
  color: white;
  padding: 5px 15px;
  text-decoration: none;
  text-transform: uppercase;
  border-color: #885C7E;
  -moz-box-shadow: 8px 8px 12px #aaa;
  -webkit-box-shadow: 8px 8px 12px #aaa;
  box-shadow: 8px 8px 12px #555; }

.modal .modal-dialog .modal-body .submit:hover, .modal .modal-dialog .modal-body .submit:active {
  background: #3E0018;
  border-radius: 5px;
  color: white;
  padding: 5px 15px;
  text-decoration: none;
  text-transform: uppercase;
  border-color: #88002D;
  -moz-box-shadow: 8px 8px 12px #aaa;
  -webkit-box-shadow: 8px 8px 12px #aaa;
  box-shadow: 8px 8px 12px #555; }

.row-index {
  padding: 25px 0;
  border: 2px solid #88002D;
  margin-top: -2px; }

.row-index .div {
  display: flex;
  align-items: center;
  flex-wrap: wrap; }

.row-index .div .text {
  display: flex;
  flex-direction: column;
  text-align: center h2, h3 p;
  text-align-padding-bottom: 1vh; }

.row-index .div button {
  background: #885C7E;
  border-radius: 10px;
  color: white;
  padding: 10px 25px;
  text-decoration: none;
  text-transform: uppercase;
  border-color: #885C7E;
  -moz-box-shadow: 8px 8px 12px #aaa;
  -webkit-box-shadow: 8px 8px 12px #aaa;
  box-shadow: 8px 8px 12px #555;
  margin-left: 5px;
  padding: 10px; }

.row-index .div button:hover, .row-index .div button:active {
  background: #3E0018;
  border-radius: 10px;
  color: white;
  padding: 10px 25px;
  text-decoration: none;
  text-transform: uppercase;
  border-color: #88002D;
  -moz-box-shadow: 8px 8px 12px #aaa;
  -webkit-box-shadow: 8px 8px 12px #aaa;
  box-shadow: 8px 8px 12px #555;
  margin-left: 5px;
  padding: 10px; }

.row-index .suite {
  display: flex;
  align-items: center;
  flex-wrap: wrap; }

@media all and (max-width: 991px) {
  .row-index > .div {
    justify-content: center;
    margin-bottom: 5vh; }
  .row > .suite {
    display: none; } }

@media all and (max-width: 769px) {
  .row-index {
    border: none;
    padding-top: 15px; }
  .row-index > .buttons {
    justify-content: center; } }

.main-produit {
  margin-top: 100px; }

.main-produit .image {
  height: 70vh; }

.main-produit .image img {
  width: 65%; }

.main-produit .product-datas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  padding-right: 10%; }

.main-produit .product-datas h2, .main-produit .product-datas h3, .main-produit .product-datas p {
  padding-bottom: 2vh; }

.main-produit .button {
  display: flex;
  justify-content: center; }

.main-produit .button button {
  background: #885C7E;
  border-radius: 10px;
  color: white;
  padding: 10px 25px;
  text-decoration: none;
  text-transform: uppercase;
  border-color: #885C7E;
  -moz-box-shadow: 8px 8px 12px #aaa;
  -webkit-box-shadow: 8px 8px 12px #aaa;
  box-shadow: 8px 8px 12px #555;
  margin: 10px 15px; }

.main-produit .button button:hover, .main-produit .button button:active {
  background: #3E0018;
  border-radius: 10px;
  color: white;
  padding: 10px 25px;
  text-decoration: none;
  text-transform: uppercase;
  border-color: #88002D;
  -moz-box-shadow: 8px 8px 12px #aaa;
  -webkit-box-shadow: 8px 8px 12px #aaa;
  box-shadow: 8px 8px 12px #555; }

.main-produit .xs-visible {
  display: none; }

@media all and (max-width: 991px) {
  .main-produit {
    margin-top: 80px; }
  .main-produit .image {
    height: 45vh; }
  .main-produit .image img {
    width: 30%; } }

@media all and (max-width: 768px) {
  .main-produit {
    margin-top: 70px; }
  .main-produit .image {
    height: 45vh; } }

@media all and (max-width: 570px) {
  .main-produit {
    margin-top: 70px; }
  .main-produit .image {
    height: 45vh; }
  .main-produit .image img {
    width: 45%; }
  .main-produit .md-visible {
    display: none; }
  .main-produit .xs-visible {
    display: flex; }
  .main-produit .xs-visible button {
    background: #88002D;
    border-radius: 10px;
    color: white;
    padding: 10px 25px;
    text-decoration: none;
    text-transform: uppercase;
    border-color: #885C7E;
    -moz-box-shadow: 8px 8px 12px #aaa;
    -webkit-box-shadow: 8px 8px 12px #aaa;
    box-shadow: 8px 8px 12px #555;
    margin: 10px 5px;
    padding: 10px 10px; }
  .main-produit .xs-visible button:hover, .main-produit .xs-visible button:active {
    background: #3E0018;
    border-radius: 10px;
    color: white;
    padding: 10px 25px;
    text-decoration: none;
    text-transform: uppercase;
    border-color: #88002D;
    -moz-box-shadow: 8px 8px 12px #aaa;
    -webkit-box-shadow: 8px 8px 12px #aaa;
    box-shadow: 8px 8px 12px #555;
    margin: 10px 5px;
    padding: 10px 10px; } }

@media all and (max-width: 370px) {
  .main-produit {
    margin-top: 70px; }
  .main-produit .image {
    height: 40vh; }
  .main-produit .image img {
    width: 55%; } }
