@mixin button ($text, $background, $border){
	background: $background;
	border-radius: 10px;
	color: $text;
	padding: 10px 25px;
	text-decoration: none;
	text-transform: uppercase;
	border-color: $border;
  -moz-box-shadow: 8px 8px 12px #aaa; 
  -webkit-box-shadow: 8px 8px 12px #aaa; 
  box-shadow: 8px 8px 12px #555; 
}

@mixin submit ($text, $background, $border){
	background: $background;
	border-radius: 5px;
	color: $text;
	padding: 5px 15px;
	text-decoration: none;
	text-transform: uppercase;
	border-color: $border;
  -moz-box-shadow: 8px 8px 12px #aaa; 
  -webkit-box-shadow: 8px 8px 12px #aaa; 
  box-shadow: 8px 8px 12px #555; 
}