@import 'reset';
@import 'color';
@import 'font';
@import 'button';

// Basics start
body{
	font-family: $font;
	font-size: $font-size;
}

.main{
	margin-top: 60px;

	.add{
	position: fixed;
	z-index: 5;
	bottom: 2vh;
	right: 2vw;
	color: $dark-purple;
	}
}

.row{
	display: flex;
	flex-wrap: wrap;
}

.thumbnail{
	border: none;
	margin: 0;
}


// Basics end

// Navbar start
nav{
	height: 60px;
	background-color: $bordeaux;
	color: $white;
	width: 100%;
	position: fixed;
	z-index: 9;
	top: 0;
	left: 0;
	display: flex;
    align-items: center;
    justify-content: space-between;

    .xs-visible{
		display: none;
    }

	img{
		padding: 5px 20px;
	}

	button{
		@include button ($bordeaux, $white, $light-purple);
		margin: 10px 15px;
		box-shadow: none;
	}

	button:hover, button:active{
	 	@include button ($white, $dark-purple, $bordeaux);
	 	box-shadow: none;
	}

}

@media all and(max-width: 480px){
	nav>.md-visible{
		display: none;
	}

	nav>.xs-visible{
		display: block;
	}
}

@media all and(max-width: 400px){
	nav>img{
		width: 60%;
	}
}
// Navbar end

// Modal start
.modal .modal-dialog{
	margin-left: auto;
    margin-right: auto;
	color: $bordeaux;
	
		.modal-body{
		
			input, input:active{
				border-radius: 5px;
			}

			input:focus, input:active{
				border-color: $bordeaux;
			}

			.submit{
				@include submit ($white, $bordeaux, $light-purple);
			}

			.submit:hover, .submit:active{
			 	@include submit ($white, $dark-purple, $bordeaux);
			}
		}
}

// Modal end

// Index start
.row-index{
	padding: 25px 0;
	border: 2px solid $bordeaux;
	margin-top: -2px;

	// Modal start
		.modal .modal-dialog{
			margin-left: auto;
		    margin-right: auto;
			color: $bordeaux;
			
				.modal-body{
					    display: flex;
					    justify-content: center;
					    flex-wrap: wrap;

					#confirmDelete, .retour{
						@include submit ($white, $bordeaux, $light-purple);
						margin: 2vh 2vw 0 0;
					}

					#confirmDelete:hover, .retour:hover, .retour:active, #confirmDelete:active{
					 	@include submit ($white, $dark-purple, $bordeaux);
					 	margin: 2vh 2vw 0 0;
					}
				}
		}

		// Modal end

	.div{
		display: flex;
	    align-items: center;
	    flex-wrap: wrap;
		
		.text{
			display: flex;
			flex-direction: column;
			text-align: center

			h2, h3 p{
				padding-bottom: 1vh;
			}
			// .xs-visible{
			// 	display: none;
			// 	}

			}
		
			button{
				@include button ($white, $light-purple, $light-purple);
				margin-left: 5px;
				padding: 10px;
			}

			button:hover, button:active{
			 	@include button ($white, $dark-purple, $bordeaux);
			 	margin-left: 5px;
			 	padding: 10px;
			}
	}
	.suite{
			display: flex;
		    align-items: center;
		    flex-wrap: wrap;
	}
	.buttons{
		justify-content: center;
	}
}

.modal{
	position: absolute;
}

@media all and(max-width: 991px){

	.row-index>.div{
		justify-content: center;
		margin-bottom: 5vh;
	}

	.row>.suite{
		display: none;
	}

}
@media all and (max-width:769px){
	.row-index{
		border: none;
		padding-top: 15px;
	}
	.row-index>.buttons{
		justify-content: center;
	}
}

// Index end

// Fiche Produit start

.main-produit{
	margin-top: 100px;

	// Modal start
		.modal .modal-dialog{
			margin-left: auto;
		    margin-right: auto;
			color: $bordeaux;
			
				.modal-body{
					    display: flex;
					    justify-content: center;
					    flex-wrap: wrap;

					#confirmDelete, .retour{
						@include submit ($white, $bordeaux, $light-purple);
						margin: 2vh 2vw 0 0;
					}

					#confirmDelete:hover, .retour:hover, .retour:active, #confirmDelete:active{
					 	@include submit ($white, $dark-purple, $bordeaux);
					 	margin: 2vh 2vw 0 0;
					}
				}
		}

		// Modal end

	.image{
		height: 70vh;

		img{
			width: 65%;
		}
	}

	.product-datas{
	    display: flex;
    	flex-direction: column;
    	justify-content: center;
    	flex-wrap: wrap;
    	padding-right: 10%;

    	h2, h3, p{
    		padding-bottom: 2vh;
    	}
	}
	
	.button{
		display: flex;
		justify-content: center;

			button{
				@include button ($white, $light-purple, $light-purple);
				margin: 10px 15px;
			}

			button:hover, button:active{
	 			@include button ($white, $dark-purple, $bordeaux);
			}
	}
	.xs-visible{
		display: none;
	}
}

@media all and(max-width: 991px){

	.main-produit{
		margin-top: 80px;

		.image{
			height: 45vh;

			img{
				width: 30%;
			}
		}
	}
}

@media all and(max-width: 768px){

	.main-produit{
		margin-top: 70px;

		.image{
			height: 45vh;
		}
	}
}

@media all and (max-width: 570px) {

	.main-produit{
		margin-top: 70px;

		.image{
			height: 45vh;

			img{
				width: 45%;
			}
		}
		.md-visible{
			display: none;
		}
		
		.xs-visible {
			display: flex;

			button{
				@include button ($white, $bordeaux, $light-purple);
				margin: 10px 5px;
				padding: 10px 10px;
			}

			button:hover, button:active{
	 			@include button ($white, $dark-purple, $bordeaux);
	 			margin: 10px 5px;
				padding: 10px 10px;
			}
		}
	}
}

@media all and (max-width: 370px) {

	.main-produit{
		margin-top: 70px;

		.image{
			height: 40vh;

			img{
				width: 55%;
			}
		}
	}
}

//fiche produit update start
.main-produit{

	form{
		width: 100%;

		h3{
			font-weight: bold;
		}
	}

	.update-pdt img{
		margin-bottom: 5vh;
	}

	input[type=file]{
		display: flex;
	    justify-content: center;
	    align-items: center;
	    margin: auto;
	    font: caption;
	    @include input ($white, $light-purple, $bordeaux);
	}

	input[type=file]:hover{
		display: flex;
	    justify-content: center;
	    align-items: center;
	    margin: auto;
	    cursor: pointer;
	    font: caption;
	    @include input ($white, $dark-purple, $bordeaux);
	} 

	.cells{
		display: flex;
		flex-direction: column;

		textarea{
			margin-bottom: 2vh;
		}
	}

	.margin-top{
		margin-top: 12vh;
	}
	
	.submit{
		display: flex;
		justify-content: center;

		input{
			@include submit ($white, $dark-purple, $bordeaux);
				padding: 10px 25px;
				margin: 2vh 2vw 0 0;
		}

		input:hover, input:active{
			@include submit ($white, $bordeaux, $light-purple);
			    padding: 10px 25px;
			    margin: 2vh 2vw 0 0;
		}

		button{
				@include submit ($white, $dark-purple, $bordeaux);
				padding: 10px 25px;
				margin: 2vh 2vw 0 0;
		}

		button:hover, button:active{
			@include submit ($white, $bordeaux, $light-purple);
			    padding: 10px 25px;
			    margin: 2vh 2vw 0 0;
	}
}
}

@media all and (max-width: 480px){
	input[type=file]{
		width: 100%;
	}
	input[type=file]:hover{
		width: 100%;
	}
	
}