@import 'reset';
@import 'color';
@import 'font';
@import 'button';

// Basics start
body{
	font-family: $font;
	font-size: $font-size;
}

h2{
	text-transform: uppercase;
	font-weight: bold;
}

.main{
	margin-top: 60px;
}

.row{
	display: flex;
	flex-wrap: wrap;
}

.thumbnail{
	border: none;
	margin: 0;
	background-color: none;
	-webkit-box-shadow: none;
    box-shadow: none;
}
    	.thumbnail>img{
    		max-width: 50%;	
    	}

@media all and (max-width: 991px) {
	body{
		.modal-backdrop{
		z-index: 0!important;
		background-color: transparent!important;
		}

		.thumbnail>img{
    		max-width: 100%;	
    	}
	}
	
}

// Basics end

// Navbar start
nav{
	height: 60px;
	background-color: $bordeaux;
	color: $white;
	width: 100%;
	position: fixed;
	z-index: 9;
	top: 0;
	left: 0;
	display: flex;
    align-items: center;
    justify-content: space-between;

    .xs-visible{
		display: none;
    }

	img{
		padding: 5px 20px;
	}

	button{
		@include button ($bordeaux, $white, $light-purple);
		margin: 10px 15px;
		box-shadow: none;
	}

	button:hover, button:active{
	 	@include button ($white, $dark-purple, $bordeaux);
	 	box-shadow: none;
	}

}

@media all and(max-width: 480px){
	nav>.md-visible{
		display: none;
	}

	nav>.xs-visible{
		display: block;
	}
}

@media all and(max-width: 400px){
	nav>img{
		width: 60%;
	}
}
// Navbar end

// Modal start
.modal .modal-dialog{
	margin-left: auto;
    margin-right: auto;
	color: $bordeaux;
	top:10vh;
	
		.modal-body{
		
			input, input:active{
				border-radius: 5px;
			}

			input:focus, input:active{
				border-color: $bordeaux;
			}

			.submit{
				@include submit ($white, $bordeaux, $light-purple);
			}

			.submit:hover, .submit:active{
			 	@include submit ($white, $dark-purple, $bordeaux);
			}
		}
}

// Modal end

// Index start

.row-index{
	padding: 20px 0;
	border: 2px solid $bordeaux;
	margin-top: -2px;

	// Modal start
		.modal .modal-dialog{
			margin-left: auto;
		    margin-right: auto;
			color: $bordeaux;
			
				.modal-body{
					    display: flex;
					    justify-content: center;
				}

				.modal-footer{
						display: flex;
					    justify-content: center;

						#confirmDelete, .retour{
							@include submit ($white, $bordeaux, $light-purple);
							margin-right: 2vw;
						}

						#confirmDelete:hover, .retour:hover, .retour:active, #confirmDelete:active{
						 	@include submit ($white, $dark-purple, $bordeaux);
						 	margin-right: 2vw;
						}
					}
		}
		// Modal end

	.div{
		display: flex;
	    align-items: center;
	    flex-wrap: wrap;
		
		.text{
			display: flex;
			flex-direction: column;
			text-align: center

			h2, h3 p{
				padding-bottom: 1vh;
			}

		}
		
			button{
				@include button ($white, $light-purple, $light-purple);
				margin-left: 5px;
				padding: 10px;
			}

			button:hover, button:active{
			 	@include button ($white, $dark-purple, $bordeaux);
			 	margin-left: 5px;
			 	padding: 10px;
			}
	}
	.suite{
			display: flex;
		    align-items: center;
		    flex-wrap: wrap;
	}
	.buttons{
		justify-content: center;

		.xs-visible{
			display: none;
		}
	}
}

.modal{
	position: absolute;
}
.add{
	position: fixed;
	z-index: 5;
	bottom: 2vh;
	right: 2vw;
	color: $dark-purple;
	background-color: white;
	}

footer{
	position:fixed;
	height: 45px;
	bottom: 0;
	left: 0;
	right:0;
	z-index: 10;
	display: flex;
	background-color: transparent;
	align-items: center;
	justify-content: center;

	.pagination{
		height: 65px;
	}

		.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{
			background-color: $bordeaux;
			border-color: $light-purple;
			}
		.pagination>li>a, .pagination>.disabled>a, .pagination>.disabled>a:focus, .pagination>.disabled>a:hover, .pagination>.disabled>span, .pagination>.disabled>span:focus, .pagination>.disabled>span:hover{
				color: $bordeaux;
				border: 1px solid $bordeaux;
			}
		.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover{
			color: $bordeaux;
			background-color: $light-purple;
			border: 1px solid $bordeaux;
		}
}

@media all and(max-width: 991px){
	
	.row-index{
		border: none;
	}
	.row-index>.div{
		justify-content: center;
		margin-bottom: 5vh;
	}

	.row>.suite{
		display: none;
	}
	.row-index .buttons .xs-visible{
		display: block;
	}
	.row-index .buttons .xs-visible{
		display: block;
	}
	footer{
		display: none;
	}

}
@media all and (max-width:769px){
	.row-index{
		border: none;
		padding-top: 15px;
	}
	.row-index>.buttons{
		justify-content: center;
		margin-bottom: 1vh;
	}

	.row-index>.margin-top{
		margin-top: 6vh;
	}
	.row-index>.thumbnail{
		height: 50vh;
			}
	.row-index>.thumbnail>img{
		height: 100%;
	}
	.row-index>.div>button{
		margin-left: 10px;
	}

}
@media all and (max-width:480px){
	.row-index>.margin-top{
		margin-top: 1vh;
	}
}
// Index end

// Fiche Produit start

.main-produit{
	margin-top: 100px;

	// Modal start
		.modal .modal-dialog{
			margin-left: auto;
		    margin-right: auto;
			color: $bordeaux;
			
				.modal-body{
					    display: flex;
					    justify-content: center;
				}

				.modal-footer{
						display: flex;
					    justify-content: center;

						#confirmDelete, .retour{
							@include submit ($white, $bordeaux, $light-purple);
							margin-right: 2vw;
						}

						#confirmDelete:hover, .retour:hover, .retour:active, #confirmDelete:active{
						 	@include submit ($white, $dark-purple, $bordeaux);
						 	margin-right: 2vw;
						}
					}
		}

		// Modal end

	.image{
		height: 70vh;

		img{
			width: 65%;
		}
	}

	.product-datas{
	    display: flex;
    	flex-direction: column;
    	justify-content: center;
    	flex-wrap: wrap;
    	padding-right: 10%;

    	h2, h3, p{
    		padding-bottom: 2vh;
    	}
	}
	
	.button{
		display: flex;
		justify-content: center;

			button{
				@include button ($white, $light-purple, $light-purple);
				margin: 10px 15px;
			}

			button:hover, button:active{
	 			@include button ($white, $dark-purple, $bordeaux);
			}
	}
	.xs-visible{
		display: none;
	}
}

@media all and(max-width: 1009px){

	.main-produit{
		margin-top: 80px;

		.image{
			height: 45%;

			img{
				width: 45%;
			}
		}
	}
}

@media all and(max-width: 992px){
	.main-produit .image{
			height: 50%;
		}
}

@media all and(max-width: 768px){

	.main-produit{
		margin-top: 70px;

		.image{
			height: 55%;
		}
	}
}

@media all and (max-width: 570px) {

	.main-produit{
		margin-top: 70px;

		.image{
			height: 32%;

			img{
				width: 45%;
			}
		}
		.md-visible{
			display: none;
		}
		
		.xs-visible {
			display: flex;

			button{
				@include button ($white, $bordeaux, $light-purple);
				margin: 10px 5px;
				padding: 10px 10px;
			}

			button:hover, button:active{
	 			@include button ($white, $dark-purple, $bordeaux);
	 			margin: 10px 5px;
				padding: 10px 10px;
			}
		}
	}
}

@media all and (max-width: 370px) {

	.main-produit{
		margin-top: 70px;

			img{
				width: 55%;
			}
	}
}

//fiche produit update start
.main-produit{

	form{
		width: 100%;

		h3{
			font-weight: bold;
		}
	}

	.update-pdt img{
		margin-bottom: 5vh;
	}

	input[type=file]{
		display: flex;
	    justify-content: center;
	    align-items: center;
	    margin: auto;
	    font: caption;
	    @include input ($white, $light-purple, $bordeaux);
	}

	input[type=file]:hover{
		display: flex;
	    justify-content: center;
	    align-items: center;
	    margin: auto;
	    cursor: pointer;
	    font: caption;
	    @include input ($white, $dark-purple, $bordeaux);
	} 

	.cells{
		display: flex;
		flex-direction: column;

		textarea{
			margin-bottom: 12vh;
		}
	}

	.margin-top{
		margin-top: 10vh;
	}
	
	.submit{
		display: flex;
		justify-content: center;

		input{
			@include submit ($white, $dark-purple, $bordeaux);
				padding: 10px 25px;
				margin: 2vh 2vw 2vh 0;
		}

		input:hover, input:active{
			@include submit ($white, $bordeaux, $light-purple);
			    padding: 10px 25px;
			    margin: 2vh 2vw 2vh 0;
		}

		button{
				@include submit ($white, $dark-purple, $bordeaux);
				padding: 10px 25px;
				margin: 2vh 2vw 2vh 0;
		}

		button:hover, button:active{
			@include submit ($white, $bordeaux, $light-purple);
			    padding: 10px 25px;
			    margin: 2vh 2vw 2vh 0;
	}
}
}

@media all and (max-width: 768px) and (min-width: 481px){
		.main-produit .margin-top{
		margin-top: 0vh;
	}
}


//fiche produit update end