@import 'reset';
@import 'color';
@import 'font';
@import 'button';

// Basics start
body{
	font-family: $font;
	font-size: $font-size;
}

.main{
	margin-top: 60px;
}

.row{
	display: flex;
	flex-wrap: wrap;
}

.thumbnail{
	border: none;
	margin: 0;
}
// Basics end

// Navbar start
nav{
	height: 60px;
	background-color: $bordeaux;
	color: $white;
	width: 100%;
	position: fixed;
	z-index: 9;
	top: 0;
	left: 0;
	display: flex;
    align-items: center;
    justify-content: space-between;

    .xs-visible{
		display: none;
    }

	img{
		padding: 5px 20px;
	}

	button{
		@include button ($bordeaux, $white, $light-purple);
		margin: 10px 15px;
		box-shadow: none;
	}

	button:hover, button:active{
	 	@include button ($white, $dark-purple, $bordeaux);
	 	box-shadow: none;
	}

}

@media all and(max-width: 480px){
	nav>.md-visible{
		display: none;
	}

	nav>.xs-visible{
		display: block;
	}
}

@media all and(max-width: 400px){
	nav>img{
		width: 60%;
	}
}
// Navbar end

// Modal start
.modal .modal-dialog{
	margin-left: auto;
    margin-right: auto;
	color: $bordeaux;
	
		.modal-body{
		
			input, input:active{
				border-radius: 5px;
			}

			input:focus, input:active{
				border-color: $bordeaux;
			}

			.submit{
				@include submit ($white, $bordeaux, $light-purple);
			}

			.submit:hover, .submit:active{
			 	@include submit ($white, $dark-purple, $bordeaux);
			}
		}
}

// Modal end

// Index start
.row-index{
	padding: 25px 0;
	border: 2px solid $bordeaux;
	margin-top: -2px;

	.div{
		display: flex;
	    align-items: center;
	    flex-wrap: wrap;
		
		.text{
			display: flex;
			flex-direction: column;
			text-align: center

			h2, h3 p{
				padding-bottom: 1vh;
			}
			// .xs-visible{
			// 	display: none;
			// 	}

			}
		
			button{
				@include button ($white, $light-purple, $light-purple);
				margin-left: 5px;
				padding: 10px;
			}

			button:hover, button:active{
			 	@include button ($white, $dark-purple, $bordeaux);
			 	margin-left: 5px;
			 	padding: 10px;
			}
	}
	.suite{
			display: flex;
		    align-items: center;
		    flex-wrap: wrap;
			// padding-right: 10%;
	}
}

@media all and(max-width: 991px){

	.row-index>.div{
		justify-content: center;
		margin-bottom: 5vh;
	}

	// .row-index>.presentation{
	// 	margin-bottom: 2vh;
	// }

	// .main>.container-fluid>.row-index>.div>.text>.xs-visible{
	// 	display: block;
	// }

	.row>.suite{
		display: none;
	}

}
@media all and (max-width:769px){
	.row-index{
		border: none;
		padding-top: 15px;
	}
	.row-index>.buttons{
		justify-content: center;
	}
}

// @media all and(max-width: 480px){
// 	.main>.container-fluid>.row-index{
// 		height: 100vh;
// 	}
// 	.main>.container-fluid>.row-index>.buttons{
// 		align-items: flex-start;
// 	}
// 	.main>.container-fluid>.row-index>.thumbnail{
// 		height: 30vh;
// 	}
// 	.main>.container-fluid>.row-index>.thumbnail>img{
// 		width: 43%;
// 	}
// }
// Index end

// Fiche Produit start

.main-produit{
	margin-top: 100px;

	.image{
		height: 70vh;

		img{
			width: 65%;
		}
	}

	.product-datas{
	    display: flex;
    	flex-direction: column;
    	justify-content: center;
    	flex-wrap: wrap;
    	padding-right: 10%;

    	h2, h3, p{
    		padding-bottom: 2vh;
    	}
	}
	
	.button{
		display: flex;
		justify-content: center;

			button{
				@include button ($white, $light-purple, $light-purple);
				margin: 10px 15px;
			}

			button:hover, button:active{
	 			@include button ($white, $dark-purple, $bordeaux);
			}
	}
	.xs-visible{
		display: none;
	}
}

@media all and(max-width: 991px){

	.main-produit{
		margin-top: 80px;

		.image{
			height: 45vh;

			img{
				width: 30%;
			}
		}
	}
}

@media all and(max-width: 768px){

	.main-produit{
		margin-top: 70px;

		.image{
			height: 45vh;
		}
	}
}

@media all and (max-width: 570px) {

	.main-produit{
		margin-top: 70px;

		.image{
			height: 45vh;

			img{
				width: 45%;
			}
		}
		.md-visible{
			display: none;
		}
		
		.xs-visible {
			display: flex;

			button{
				@include button ($white, $bordeaux, $light-purple);
				margin: 10px 5px;
				padding: 10px 10px;
			}

			button:hover, button:active{
	 			@include button ($white, $dark-purple, $bordeaux);
	 			margin: 10px 5px;
				padding: 10px 10px;
			}
		}
	}
}

@media all and (max-width: 370px) {

	.main-produit{
		margin-top: 70px;

		.image{
			height: 40vh;

			img{
				width: 55%;
			}
		}
	}
}